<header></header>
<div class="login-section col-md-12">
	<div class="content">
		<signuplogin-header status="login.pills.status"></signuplogin-header>
		<div class="section-login">
			<div ng-show="login.pills.status">
				<form name="business">
					<md-input-container class="md-block"> <label>{{'user_login'
						| translate}}</label> <input md-no-asterisk name="userid"
						ng-model="login.formdata.user" required> </md-input-container>
					<md-input-container class="md-block"> <label>{{'password'
						| translate}}</label> <input name="password"
						ng-model="login.formdata.password" minlength="8"
						ng-pattern="login.general.passpattern" required>
						<md-checkbox name="showpassword" class="spwd-check" ng-model="login.general.reveal">{{'reveal_pass'
						| translate}}</md-checkbox>
					</md-input-container>
					<div class="valid-label">
						<label>{{login.general.validationText}}</label>
					</div>
				</form>
					<md-button class="md-primary login-btn"
						ng-disabled="business.$invalid && business.cpassword.error.notmatch">{{'login'
					| translate}}</md-button>
				
			</div>
			<div ng-hide="login.pills.status">Working on it</div>
		</div>
	</div>
</div>